h1 {
  color: blue;
  text-align: center;
  background-color: #583d72;
  font-size: 50px;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  align-content: center;
}
em{
  font-family: cursive;
}
